h1,h2,h3{
    text-align: center;
}

.question-wraper{
    text-align: center; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calc-control{
    text-align: end;
}