h1,h2,h3{
    text-align: center;
}

h1{
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #212529 !important;
}

footer{
    background-color: #42bca4;
    height: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p {
    
    font-size: 12px;
}

.title-section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-section p{
    text-align: center;
    font-size: 24px;
}

.question-wraper{
    text-align: center; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calc-control{
    text-align: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar{
    background-color: #42bca4;
}

.header{
    background: 
		linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.8)), 
		url('images/header-back.png');
    background-size: cover;
}

.header-logoMoto{
    padding-top: 50px;
    padding-bottom: 50px;
}

.moto-img-wraper{
    display: flex;
    align-items: center;
}

.moto-text-wraper{
    color: #fff;
}

.moto-img{
    max-width: 100%;
}

.moto-text-wraper{
    display: flex;
    align-items: center;
}

.Moto{
 text-align: center;
 font-size: 24px;
}

.Moto p{
    color: #fff;
    text-align: start;
}

.Moto p:last-of-type{
    text-align: center;
}

.Moto h2{
    font-size: 42px;
    color: #fff;
}

.Action-button{
    background-color:#fff;
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 10px;
}

.Action-button:hover{
    background-color: #DCDCDC;
}

@media (max-width:550px){
    .moto-img-wraper{
        max-width: 50%;
        justify-content: end;
    }
    .moto-img{
        max-width: 80%;
    }
    .moto-text-wraper{
        max-width: 50%;
    }

}

.punch-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.punch-img{
    max-width: 80%;
    
}